.scissor {
  background: #f90;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
    position: inherit;
    display: inline-block
}

.rock {
  width: 40px;
  height: 40px;
  background: blue;
    position: inherit;
    display: inline-block
}
.paper {
   position: inherit;
    display: inline-block;
  width: 40px;
  height: 40px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}