.largeRed{
    color: red;
    font-size: xx-large;
    text-align: center;
}

.centerDiv{
    padding-left: 50%;
        position: inherit;

}

.largeWhite{
    color: white;
    font-size: xx-large;
    text-align: center;
}

.normalWhite{
    color: white;
    font-size: x-large;
    text-align: center;
}

.largeBlue{
    color: blue;
    font-size: xx-large;
    text-align: center;
}

.largeOrange{
    color: orange;
    font-size: xx-large;
    text-align: center;
}

p{
    margin: 0px
}